{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}

    <section class="box login">
        <h1 class="h3 mb-3 font-weight-normal">Connexion</h1>
        <form method="post">
            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            <label class="placeholder" for="inputEmail">Email</label>
            <input type="email" value="{{ last_username }}" placeholder="Email" name="email" id="inputEmail" class="form-control"
                   autocomplete="email" required autofocus>
            <label class="placeholder" for="inputPassword">Mot de passe</label>
            <input type="password" placeholder="Mot de passe" name="password" id="inputPassword" class="form-control"
                   autocomplete="current-password" required>

            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}"/>

            <div class="rememberbox">
                <label for="remember">Se souvenir de moi</label>
                    <input type="checkbox" id="remember" name="_remember_me"/>
            </div>
            <button class="btn" type="submit">
                Se connecter
            </button>
        </form>
    </section>

{% endblock %}
