{% extends 'base.html.twig' %}

{% block title %}Accueil Agora{% endblock %}

{% block body %}
    <section class="home-content">

        <h1>Bienvenue sur Agora</h1>
        {% if app.user %}
            <section class="create-salon">

                <a class="btn" href="{{ path('salon.create') }}">Nouvelle assemblée</a>
            </section>

        {% endif %}


        <section class="box home-box">
            <h2>C'est quoi Agora ?</h2>
            <p>Agora est une application destinée à s’organiser entre militants,
                sociétaires, amis ou collègues. Par le prisme des assemblées,
                Agora permet de débattre, de proposer de nouveaux sujets sur la thématique de l’assemblée, ainsi que des
                propositions.
                Les assemblées sont régies par un délai de campagne,
                permettant aux membres de l’assemblée de débattre sur les différents sujets et propositions.
                Lorsque le délai de campgne expire, un délai dédié aux votes des propositions prends le relai.
                Agora a pour système de vote, le <strong>jugement majoritaire</strong>.
                Agora donne également la possibilité aux différents membres de l’assemblée d’inviter de nouveaux
                membres.
            </p>
            <p> Prêt à rejoindre votre première assemblée ? </p>
            <a class="btn register-btn" href="{{ path('register') }}">S'inscrire</a>

        </section>



    </section>



{% endblock %}
