{% extends 'base.html.twig' %}

{% block title %}Accueil Agora{% endblock %}

{% block body %}
    <section>

        <h1>Bienvenue sur Agora</h1>
        <h2>Derniers salons publics</h2>

    </section>

        <section>
            <h2>Vos derniers salons</h2>
            <p><a href="{{ path('salon.create') }}">Créer un salon</a></p>
        </section>
{% endblock %}
