{% extends 'base.html.twig' %}

{% block title %}Accueil Agora{% endblock %}

{% block body %}
    <section>

        <h1>Bienvenue sur Agora</h1>
        <h2>Les derniers salons ouverts</h2>

    </section>
{% endblock %}
