{% extends 'base.html.twig' %}

{% block title %}Accueil Agora{% endblock %}

{% block body %}
    <section>

        <h1>Bienvenue sur Agora</h1>


    </section>

    {% if app.user %}
        <section class="create-salon">

            <a class="btn" href="{{ path('salon.create') }}">Nouvelle assemblée</a>
        </section>
    {% endif %}

{% endblock %}
