{% block success_stream %}

    <turbo-stream action="replace" method="morph" target="invit-request">
        <template>

            <li class="invit-li" id="invit-request">
                <p class="invit-title">Invitation</p>

                {{ form_start(form, {'attr': {'id': 'invitation'}}) }}
                {{ form_row(form.email,{'label': 'Email'}) }}
                {{ form_row(form.save, {'label': 'Inviter'}) }}
                {{ form_end(form) }}

                <div class="invit-flash">
                    {% if invit == 'introuvable' %}
                        <p class="error">Utilisateur introuvable</p>
                    {% elseif invit == 'exist' %}
                        <p class="warning">L'utilisateur a déjà reçu une invitation</p>
                    {% elseif invit == 'already' %}
                        <p class="warning">L'utilisateur est déjà un membre de l'assemblée</p>
                    {% else %}
                        <p class="success">Invitation envoyée</p>
                    {% endif %}
                </div>

            </li>
        </template>
    </turbo-stream>

{% endblock %}