{% for type, messages in app.flashes %}

    <turbo-stream action="append" target="flash">
        <template>
            {% for label, messages in app.flashes(['success-invit', 'error-invit', 'error-exist']) %}
                {% for message in messages %}
                    <div class="alert alert-{{ label }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endfor %}

        </template>
    </turbo-stream>
{% endfor %}