
{%  block success_stream %}


    <turbo-stream action="replace" target="invit-request">
        <template>
            {% if invit == 'introuvable' %}
                <p>Utilisateur introuvable</p>
            {% elseif invit == 'exist' %}
                <p>L'utilisateur a déjà reçu une invitation</p>
            {% else %}
                <p>Invitation envoyée</p>
            {% endif %}

        </template>

    </turbo-stream>

{% endblock %}