{% extends 'base.html.twig' %}

{% block title %}Salon{% endblock %}

{% block body %}

<div class="box salon-edit">
    {{ form(form, {action: path('salon.edit', {id: salon.id})}) }}
    <a class="btn" href="{{ path('salon.index', {id: salon.id}) }}">Retour</a>
</div>

    {% block chat %}
        {{ include('chat/chat.html.twig') }}
    {% endblock %}

{% endblock %}
