{% extends 'base.html.twig' %}

{% block title %}Salon{% endblock %}

{% block body %}
    <h1>{{ salon.title }}</h1>

<turbo-frame id="salon_{{ salon.id }}">
    {{ form(form, {action: path('salon.edit', {id: salon.id})}) }}
</turbo-frame>




    {% block chat %}
        {{ include('chat/chat.html.twig') }}
    {% endblock %}


{% endblock %}
