/*couleurs*/

$white: #FFFFFF;
$darkpurple: #805D93;
$lightpurple: #BCBCF0FF;
$lightgrey: #D9D9D9;
$darkgrey: #454545;
$darkblue: #6215C6;
$purple: #9747FF;
$red: #F50000;
$green: #05FF00;
$brown: #C2902D;
$orange: #FF9900;
$yellow: #FFE500;
$blue: #6A55EE;
$lightred: #EE6055;
$flashgreen: #26CC23;

/*fonts*/
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 100 to 900
$inter: "Inter", sans-serif;

/*graisses*/
$regular: 500;
$bold: 800;
$light: 300;


.inter-regular {
  font-family: $inter;
  font-optical-sizing: auto;
  font-weight: $regular;
  font-style: normal;
}

* {

  box-sizing: border-box;
  margin: 0;
  padding: 0;

}


html {
  margin: 0;
  font-size: 62.5%;
  font-family: $inter, sans-serif;
}

body {
  font-size: 1.4rem;
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;

}


/*inputs*/

label {

  display: none;
}

input {

  border-radius: 20px;
  border: none;
  width: 100%;
  padding: 0.3rem 0 0.3rem 2rem;


}

.title-center {
  text-align: center;
  padding: 0.3rem 0 0.3rem 0;
}


textarea {

  width: 100%;
  border-radius: 6px;
  border: none;
  padding: 1rem;
  font-family: $inter;
  text-align: center;
  resize: none;
}

/*boutons*/

.btn {
  background-color: $darkblue;
  text-decoration: none;
  color: $white;
  border-radius: 5px;
  border: none;
  padding: .5rem 1rem .5rem 1rem

}

.btn-icon {

  background-color: white;
  color: black;
  display: flex;
  text-decoration: none;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  justify-content: center;
  align-items: center;


}

.material-symbols-outlined {

  font-size: 22px;

}

.material-symbols-outlined:hover {

  cursor: pointer;
}

.btn:hover {

  background-color: $lightpurple;
  color: $darkblue;
  cursor: pointer;
}


h2 {
  word-wrap: break-word;
  font-size: 2.5rem;
  font-weight: $light;
  text-align: center;

}

h1 {
  text-align: center;
  font-weight: $light;
  margin-bottom: 2rem;
  font-size: 3rem;
}

.container {

  margin: 1rem auto 1rem auto;
  width: 100%;
  position: relative;
  min-height: 100%;

}


/* for mobile phones */

.box {

  width: 90%;
  margin: 1rem auto 2rem auto;
  background-color: $lightgrey;
  padding: 1em;
  text-align: center;
  border-radius: 10px;


}

/*profil */

.profile-content {

  display: flex;
  flex-direction: column;
  align-items: center;


  .profil-info {

    display: flex;
    flex-direction: column;
    align-items: flex-start;

  }

  p {

    padding: .5rem;
  }

  .btn {


    align-self: center;
    margin: .5rem;
  }


}

.darkgrey-color {

  color: $darkgrey;
}


.invit-profil-content {

  h2 {

    font-weight: $light;
  }

}

.invit-box {

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 1em;
  text-align: left;

  p {
    margin: .5rem;
  }

}

.btn-invit {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  margin-top: .5rem;
}


.profil-edit {

  margin-top: 6rem;

  input {
    margin-bottom: 1rem;
  }

  .btn {
    margin: .5rem;
  }
}

.profil-backbutton {
  margin: 1rem;
}

/*contact*/

.contact-content {

  margin-top: 2rem;

  input {


    margin-bottom: .8rem;
  }

  textarea {
    border-radius: 10px;
  }


  .btn {

    margin-top: .5rem;
  }


}


/*login*/

.login input, .login h1 {
  margin-bottom: 1.5rem;
}

.login {

  margin-top: 6rem;
}

.alert-login {

  background-color: $lightred;
  padding: 1rem;
  border-radius: 10px;
  margin-bottom: 1rem;
  color: white;
}


/*register*/

.register {

  margin-top: 6rem;


  input {
    margin-bottom: 1rem;
  }
}

.register-form, .profile-form,  {

  div:nth-child(3) {

    ul {

      list-style-type: none;
      padding: 1rem;
      background-color: $lightred;
      border-radius: 10px;
      color: white;
      display: flex;
      flex-direction: column;
      margin-bottom: 1rem;

      li {
        text-align: left;
      }

    }
  }


}


.rememberbox {

  display: flex;
  margin-bottom: 0;

  input {

    flex-basis: 10%;
    margin: 0;
  }


  label {

    display: block;
    flex-basis: 80%;
    margin: 0;
  }

}


/**************************salon list*******************************/


.salonlist {

  h3 {
    white-space: normal;

    font-weight: $light;

  }


  p {

    color: $darkgrey;
    text-align: left;
    font-size: 1.1rem;
    margin-bottom: 0.5rem;

  }

}

.list-content {


  padding: 1rem;
}

.pagination {

  margin: 1rem auto 1rem auto;
  display: flex;
  justify-content: space-evenly;

}

.create-salon {
  width: 100%;
  padding: 1em;
  text-align: center;

}

.salon-form {

  input {


    text-align: center;
    margin-bottom: 1rem;
  }


  textarea {

    text-align: center;
    resize: vertical;

  }

  label {
    display: block;
    padding: .5rem;
  }



}


#salon_save {

  margin-bottom: 1rem;
}
#salon, #sujet, #proposal {

  textarea {

    text-align: left;
  }
  div:nth-child(2) {

    ul {

      list-style-type: none;
      padding: 1rem;
      background-color: $lightred;
      border-radius: 10px;
      color: white;
      display: flex;
      flex-direction: column;
      margin-bottom: 1rem;

      li {
        text-align: left;
      }

    }
  }


}


/*************sitemap**************/

.sitemap-content {


  article {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  h2 {
    margin: .5rem;
  }

  a {

    margin: 1rem;
  }


}

/********confidentiality********/


.confidentiality-content{


  padding: 0 1rem 0 1rem;
  p {
    padding:1rem;
  }


}

/********************************FOOTER***************************************/

.footer {

  display: flex;
  justify-content: center;
  gap: 2rem;
  background-color: $lightpurple;
  color: white;
  padding: 2rem;
  position: relative;
  bottom: 0;
  width: 100%;
  clear: both;
  margin-top: auto;

  a {
    font-size: 1.2rem;
    text-decoration: none;
    color: white;
  }

  a:hover {
    cursor: pointer;
    color: $purple;
  }

}

/********************************HEADER****************************************/
.header {
  display: flex;
  background-color: $darkpurple;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  height: 5.2rem;
  margin-bottom: 1.5rem;
  width: 100%;


}

#logo {
  width: auto;
  max-height: 5.2rem;
}

/* Sidenav menu */
.sidenav {
  height: 100vh;
  width: 100vw;
  position: fixed;
  z-index: 1;
  top: 0;
  left: -140vw;
  background-color: $lightgrey;
  padding-top: 35px;
  transition: left 0.5s ease;

  ul {

    display: flex;
    flex-direction: column;
    list-style-type: none;
    padding: 0;
    margin: 0;

  }

  a {

    padding: .8rem .8rem .8rem 3.2rem;
    text-decoration: none;
    font-size: 2.2rem;
    color: $darkgrey;
    transition: 0.3s;
    display: flex;


  }

  .user-li {

    padding: .8rem .8rem .8rem 3.2rem;
    text-decoration: none;
    font-size: 2.2rem;
    color: $darkgrey;
    transition: 0.3s;
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    align-items: center;
  }
}

.sidenav a:hover {
  color: black;
}

/* Ordre des li dans la nav selon le role de l'uilisateur */

.uluser :nth-child(1) {
  order: 2;
}

.uluser :nth-child(2) {
  order: 5;
}

.uluser :nth-child(3) {
  order: 1;
}

.uluser :nth-child(4) {
  order: 4;
}

.uluser :nth-child(5) {
  order: 3;
}

.uluser :nth-child(6) {
  order: 6;
}


.uluser :nth-child(7) {
  order: 3;
}

.uladmin :nth-child(1) {
  order: 2;
}

.uladmin :nth-child(2) {
  order: 6;
}

.uladmin :nth-child(3) {
  order: 1;
}

.uladmin :nth-child(4) {
  order: 4;
}

.uladmin :nth-child(5) {
  order: 3;
}

.uladmin :nth-child(6) {
  order: 8;
}

.uladmin :nth-child(7) {
  order: 5;
}

.uladmin :nth-child(8) {
  order: 7;
}


.sidenav.active {
  left: 0;
}

.menu-burger:hover {
  color: white;
  transition: 0.3s;
  cursor: pointer;
}

.close {
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 25px;
  color: $darkgrey;

}

.close:hover {

  color: black;
  transition: 0.3s;
  cursor: pointer;

}

.user-logo {

  background-color: white;
  padding: .5rem;
  margin-right: 1rem;
  border-radius: 50%;
}

.logout-icon, .login-icon {

  align-items: center;

}

.logout-icon {

  flex-direction: row-reverse;
  justify-content: flex-end;
}


/*******************************SALON INDEX**************************************************/


/*INVITATION*/

.invit-li {

  border: 1px $darkgrey solid;
  border-radius: 5px;
  margin: .8rem 4.3rem .8rem 1.7rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem 1.5rem 1rem 1.5rem
}

.invit-title {


  text-decoration: none;
  font-size: 2.2rem;
  color: $darkgrey;
  transition: 0.3s;
  margin-bottom: 1rem;
  order: 1;
}

#invitation {

  order: 2;

  input {
    margin-bottom: 1rem;
    margin-right: 1.5rem;
    width: 100%;
  }

}

#flash-container {

  order: 3;
  padding: .7rem;


}

.invit-flash {


  color: white;
  text-align: center;

  .error {

    background-color: red;
    border-radius: 10px;
    padding: .7rem;
  }

  .warning {

    background-color: orange;
    border-radius: 10px;
    padding: .7rem;
  }

  .success {

    background-color: green;
    border-radius: 10px;
    padding: .7rem;
  }
}

.alert {

  color: white;
  border-radius: 10px;
  padding: .5rem;
  text-align: center;


}

.alert-error {

  background-color: red;

}

.alert-success {


  background-color: green;
}

.alert-error-exist {

  background-color: orange;
}

/**********SALON INDEX*********************************/
/******************************************************/


/*********COUNTDOWN*****************************/

.time-container {

  color: white;
  font-size: 1.3rem;
  padding: .5rem;
  text-align: center;
  border-radius: 10px;

  p {

    display: flex;
    flex-direction: column;
  }
}

.campagne {
  background-color: $blue;
}

.vote {

  background-color: $lightred;
}


.results {

  background-color: $flashgreen;
}


/********SALON EDIT BOX***************/

.salon-app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  border-radius: 10px;

  h1 {
    font-size: 2rem;
    margin-bottom: .5rem;
  }




}
.salon-app-btn {
  margin: 0;
  display: flex;
  justify-content: center;
  column-gap: 3rem;
  padding: 1rem;
}
.proposal-edit, .sujet-edit, .salon-edit {

  margin: 1rem auto 1rem auto;

}

.salon-edit {


  input, textarea {
    margin-bottom: .5rem;
  }

  textarea {

    border-radius: 10px;
  }

  .btn {
    margin: 1rem;
  }

}

/************SUJET ON SALON******************/


.sujet-campagne {

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;

  span {
    flex-basis: 1%;
    order: 2;
  }

  h3 {

    flex-basis: 90%;
    font-weight: $light;
    overflow-wrap: anywhere;
    width: 100%;
    order: 1;
  }

  section {
    flex-basis: 100%;
    order: 3;
  }


}


/*************SUJET EDIT BOX*******************/


.sujet-app {

  h2 {
    font-size: 1.6rem;

  }

  .sujet-app-title {

    text-decoration: none;
    color: black;


  }

}

.sujet-app-create {

  text-align: center;
  margin: 1rem;

}

.sujet-btn {
  display: flex;
  justify-content: center;
  padding: .5rem;
  gap: 3rem;
  order: 3;
  flex-basis: 100%;
}

/***SUJET EDIT PAGE***/

.sujet-edit {

  input {

    margin-bottom: 1rem;
    text-align: center;
  }


  .btn {

    margin: 1rem;
  }


}


/***proposal***/


.proposal-ul {

  list-style-type: none;
  display: none;
  order: 5;
  flex-basis: 100%;

}

.proposal-ul.active {

  display: flex;
  flex-direction: column;


}


.proposal-li {

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  border: solid 1px black;
  padding: .5rem;
  margin-bottom: .5rem;


  p:first-child {

    flex-basis: 80%;
    overflow-wrap: anywhere;
    text-align: left;
  }


}


.proposal-content {
  display: none;
  background-color: white;
  border-radius: 10px;
  text-align: justify;
  width: 100%;
  word-wrap: break-word;
  padding: 1em;
  margin-top: .5rem;
  flex-basis: 100%;


}

.proposal-content.active {

  display: block;
}

.proposal-btn {

  flex-basis: 20%;
  display: flex;
  gap: 0.5rem;
  justify-content: flex-end;


}

.proposal-edit {

  input, .btn, textarea {

    margin-bottom: 1rem;
  }


}


.sujet-content {


  display: none;
  background-color: white;
  border-radius: 10px;
  text-align: justify;
  width: 100%;
  word-wrap: break-word;
  padding: 1em;
  margin-bottom: .5rem;
  order: 4;
  flex-basis: 100%;

}

.sujet-content.active {

  display: block;

}

/*** Chat ***/


#message_save {
  rotate: -45deg;
  border-radius: 50%;
  border: none;
  color: black;
  width: 3rem;
  padding: 0.4rem;
  background-color: transparent;

}

#message_save:hover {

  cursor: pointer;
  color: white;
}


#messages {

  height: 100vh;
  position: relative;
  overflow: auto;
  bottom: 3rem;
  z-index: -1;
  display: flex;
  flex-direction: column-reverse;


  .message-user {
    text-align: left;

  }

  .message-date {

    text-align: right;
  }
}

#message {
  position: absolute;
  bottom: 0;
  display: flex;
  padding: 1rem;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  gap: .6rem;
  background-color: $lightpurple;
}

#message :nth-child(1) {
  flex-grow: 3;
  width: 100%;
}

.close_chat {
  position: absolute;
  right: 0;
  top: 0;
  padding: 1rem;


}

.close_chat:hover {

  color: $darkgrey;
  cursor: pointer;
}


.bulle_chat {

  width: 90%;
  border-radius: 10px;
  background-color: white;


}

.chat-window {
  height: 100vh;
  width: 100vw;
  position: fixed;
  z-index: 1;
  top: 0;
  left: -140vw;
  background-color: $lightpurple;
  transition: left 0.5s ease;
}

.chat-window.is-chatting {

  left: 0;

}

.button-chat {

  position: absolute;
  left: 140vw;
  top: 18vh;
  rotate: -45deg;
  padding: .5rem;
  background-color: $lightpurple;
  border-radius: 50%;
  width: 30px;
  height: 30px;

  span {

    position: absolute;
    top: 4px;
    left: 6px;
  }

}

.button-chat:hover {

  color: white;
  cursor: pointer;

}

/*******PHASE DE VOTE**********/

/*******SALON*************/


.form-vote {

  display: flex;
  flex-wrap: wrap;
  flex-direction: column;

  label {

    display: block;
  }

}

.vote-field {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: 1px solid black;
  border-radius: 10px;
  padding: .5rem;
  margin: .5rem;


  input {

    width: 2rem;
  }

}

#save-vote {

  margin: .5rem;

}

.label-active {

  label {
    display: block;
  }

}


.hasvoted {

  display: flex;
  justify-content: space-between;
  border: solid black 1px;
  margin: .5rem;
  padding: .5rem;
  border-radius: 10px;
  align-items: center;

  p:nth-child(2) {

    color: black;
    padding: .4rem;
    border-radius: 10px;
    width: 5em;

  }

  .red {

    background-color: $red;
  }

  .brown {

    background-color: $brown;
  }

  .yellow {

    background-color: yellow;


  }

  .orange {

    background-color: $orange;

  }

  .green {


    background-color: $green;
  }

}


.sujet-vote {


  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;


  h3 {
    font-weight: $light;
    flex-basis: 90%;
  }

  section {

    flex-basis: 100%;
  }

}

.arrow-sujet:hover {

  cursor: pointer;
}

.arrow-sujet {

  flex-basis: 1%;
}


.select-vote select {

  display: none;


}


.original-select-vote {

  display: none;


}

.vote-form {

  ul {
    list-style-type: none;


  }


}

.mention-ul {


  .mention-li {

    padding: .2rem 1rem .2rem 1rem;
    border-radius: 10px;
    color: black;
    margin: .3rem;
    opacity: 40%;


  }


  .mention-li:first-child {

    background-color: $red;

  }

  .mention-li:nth-child(2) {


    background-color: $brown;
  }

  .mention-li:nth-child(3) {


    background-color: yellow;
    opacity: 100%;
  }

  .mention-li:nth-child(4) {

    background-color: $orange;

  }

  .mention-li:nth-child(5) {

    background-color: $green;
  }


}

.mention-li:hover {

  opacity: 80%;
  cursor: pointer;
}

.vote-title {

  background-color: $lightgrey;
  padding: .5rem;
  text-align: center;
}

.vote-description {

  background-color: white;
}

.proposal-vote-content {


  border: solid 1px black;
  margin: 1rem 0 1rem 0;
  padding: 1.5rem;
  border-radius: 10px;
}

.voted-section {

  display: none;

}

.voted-section.active {

  display: block;
  flex-basis: 100%;

}


/**************PHASE RESULTATS*******************/
/***************SALON*******************/

#display-results {

  float: right;
}

.results-container {

  display: flex;
  flex-wrap: wrap;

  h3, .tour-title {
    flex-basis: 100%;
  }
}

.winner {

  flex-basis: 100%;
  margin: 0.4rem 0 0.4rem 0;
  padding: 1rem;
  background-color: white;
  border-radius: 10px;
}

.pourcent-scale {

  flex-basis: 5%;
  font-size: 1rem;
  display: flex;
  height: auto;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 1rem 0 1rem 0;
}


.grid-vote {
  width: 95%;
  display: flex;
  margin: 1rem 0.2rem 1rem 0.2rem;
  flex-direction: row;
  border-left: 5px black solid;
  border-bottom: 5px black solid;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  height: fit-content;
  flex-basis: 80%;


  .row {

    display: flex;
    flex-direction: column-reverse;
    height: 30vh;
    flex-wrap: wrap;
    min-height: 30vh;
    min-width: 2rem;

  }

  .proposal-title {

    writing-mode: vertical-lr;
    rotate: 180deg;
    text-align: center;
    font-size: 1.2rem;
    flex-basis: 100%;
    color: black;
    overflow: hidden;
    white-space: nowrap;
    min-width: 1.2rem;
    padding-top: 0.5rem;

  }
}

.row > * {

  font-size: 1rem;
  flex-grow: 0;
  flex-basis: 1rem;
  min-width: 1.5rem;


}


.inadapte {
  background-color: $red;

}

.passable {
  background-color: $brown;
}

.bien {

  background-color: $yellow;

}

.tresbien {

  background-color: $orange
}

.excellent {

  background-color: $green
}


//.vote-container {
//
//  text-align: center;
//  margin: auto;
//  min-height: 100vh;
//  background-color: lightgrey;
//  border-radius: 10px;
//  padding: 1rem;
//  width: 50%;
//}

.font-result {

  overflow: hidden;
  white-space: nowrap;
  min-width: 0

}

/*****ADMIN*********/


/*******ERREUR 404***********/


.error404, .error403, .error {

  display: flex;
  flex-direction: column;
  margin: auto;
  align-items: center;

  h1 {
    font-size: 15rem;
  }

  p {

    padding: 5rem;
  }
}


/*home*/


.home-box {

  background-color: $lightpurple;
  padding: 0 1.2rem 1rem 1.2rem;

  h2 {
    color: $darkpurple;
    font-weight: $light;
    font-size: 2.2rem;
    margin: .5em;
  }

  p {
    padding-bottom: 1em;
    text-align: left;
  }


}

.home-content {

  display: flex;
  flex-direction: column;
  align-items: center;

  .register-btn {


  }
}


.date-create {

  //width: 100vw;
  //height: 100vh;

}


/*sujet create*/
/*proposal create*/

.sujet-create, .proposal-create {


  h1 {
    font-size: 2rem;
  }

  input {

    margin-bottom: 1rem;
    text-align: center;
    padding: 0.3rem 0 0.3rem 0;

  }

  .btn {

    margin: 1rem;
  }


}

/*****************************************************/
/*                   DESKTOP                         */
/*****************************************************/


@media screen and (min-width: 1024px) {


  /***HEADER***/

  .header {

    height: 6rem;
    z-index: 3;


  }


  .sidenav {

    width: 28vw;


    a, .invit-li, .invit-title {

      font-size: 1.4rem;
    }

    ul {

      max-height: 5.2rem;


    }


  }


  /*** SALON LIST DESKTOP ***/

  .salonlist-container {


    display: flex;
    justify-content: space-between;


  }
  .salonlist {

    width: 30%;


  }

  .create-salon {

    background-color: white;
  }


  /***CREATION D'ASSEMBLEE DESKTOP***/

  .salon-form {


  }


  /*** HOME DESKTOP***/

  .home-content {

    h1 {
      background-color: $lightpurple;
      padding: 1rem 3rem;
      border-radius: 10px;
      color: white;
      margin: 1rem;


    }

    .create-salon {

      position: static;

    }

  }

  .home-box {

    margin: 2rem 5rem;
    background-color: $lightgrey;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    h2 {
      padding: 0;
    }
  }

  .register-btn {

    align-self: center;
    margin: 2rem;
    padding: 1rem 3rem;

  }


  /***LOGIN DESKTOP***/


  #contact {

    width: 100%;

  }

  .login, .register {

    div {
      width: 100%;
    }
  }

  .login, .register, .contact-content {

    background-color: $lightgrey;
    width: 60rem;
    margin: 2rem auto;
    padding: 2rem;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;


    h1 {

      margin: 1rem;
    }

    form {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 1rem;


    }

    .btn {

      width: 10vw;
      margin-top: 1.5rem;
    }


  }


  /***PROFIL CONTENT***/


  .profile-content {


    background-color: $lightgrey;
    width: 40vw;
    margin: 5rem auto;
    border-radius: 10px;
    padding: 1rem;

    h2 {


      padding: 1rem;
    }

    .btn {

      margin-top: 1rem;

    }


  }

  .invit-box {

    width: 40vw;
  }


  /***SALON EDIT***/


  /***SALON INDEX CAMPAGNE***/


  .proposal-li {

    flex-basis: 49%;
  }

  /***SALON PHASE DE VOTE DESKTOP***/


  .sujet-vote {


    span {

      flex-basis: 1%;

    }
  }

  .proposals {

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .hasvoted {

      flex-basis: 49%;
      margin: 0.5rem 0 0.5rem 0;
    }

  }

  /***TIME CONTAINER***/

  .time-container {


    p {
      flex-direction: row;
      justify-content: center;
      font-size: 1.6rem;
    }
  }

  #time_message {

    padding-right: 0.4rem;
  }


  /***CHAT DESKTOP***/


  .chat-window {


    width: 300px;

  }

  /***RESULTS SALON***/

  .pourcent-scale {

    flex-direction: column;

    p {
      flex-basis: 50%;
    }

  }




  .row > * {

      width: 2rem;

    }

  .grid-vote {

    .proposal-title {

      font-size: 1.4rem;
    }

  }






  /***PROFIL EDIT***/

  .profil-edit {

    width: 50%;
  }

  .container {

    max-width: 100rem;
  }


  /***sitemap***/

.sitemap-content{

  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  h1 {

    flex-basis: 100%;

  }

}

  .confidentiality-content{

    width: 57rem;
    margin: auto;


  }

  .close_chat {

    z-index: 3000;
    top: 5.6rem;
  }


  /**end**/

}



