{% extends 'base.html.twig' %}

{% block title %}Proposition{% endblock %}

{% block body %}
    <section class="box">
            <h1>Créer une nouvelle proposition</h1>

            {{ form(form, {action: path('proposal.create', {id: sujet.id})}) }}

    </section>


    {% block chat %}
        {{ include('chat/chat.html.twig') }}
    {% endblock %}
{% endblock %}
