{% extends 'base.html.twig' %}

{% block title %}Proposition{% endblock %}

{% block body %}
    <h1>Créer une nouvelle proposition</h1>


    {{ form(form) }}

    {% block chat %}
        {{ include('chat/chat.html.twig') }}
    {% endblock %}
{% endblock %}
