{% extends 'base.html.twig' %}

{% block title %}Proposition{% endblock %}

{% block body %}
    <h1>{{ proposal.title }}</h1>
<turbo-frame id="proposal_{{ proposal.id }}">
    {{ form(form, {action: path('proposal.edit', {id: proposal.id})}) }}
</turbo-frame>


    {% block chat %}
        {{ include('chat/chat.html.twig') }}
    {% endblock %}
{% endblock %}
