{% extends 'base.html.twig' %}

{% block title %}Proposition{% endblock %}

{% block body %}
    <section class="box proposal-edit">

            {{ form(form, {action: path('proposal.edit', {id: proposal.id})}) }}
        <a class="btn" href="{{ path('salon.index', {id: salon.id}) }}">Retour</a>
    </section>



    {% block chat %}
        {{ include('chat/chat.html.twig') }}
    {% endblock %}
{% endblock %}
