{% extends 'base.html.twig' %}

{% block title %}Proposition{% endblock %}

{% block body %}
    <section class="box">

        <turbo-frame id="proposal_{{ proposal.id }}">
            {{ form(form, {action: path('proposal.edit', {id: proposal.id})}) }}
        </turbo-frame>
    </section>



    {% block chat %}
        {{ include('chat/chat.html.twig') }}
    {% endblock %}
{% endblock %}
