{% extends 'base.html.twig' %}

{% block title %}Proposition{% endblock %}

{% block body %}
    <section class="box">

            {{ form(form, {action: path('proposal.edit', {id: proposal.id})}) }}
    </section>



    {% block chat %}
        {{ include('chat/chat.html.twig') }}
    {% endblock %}
{% endblock %}
