{% extends 'base.html.twig' %}

{% block title %}Page Admin{% endblock %}

{% block body %}


    <h2>Tous les salons</h2>
    <ul>
        {% for salon in salons %}

        <li><a href="{{ path('salon', {id: salon.id})}}">{{ salon.Title }}</a></li>
        {% endfor %}
    </ul>


{% endblock %}
