{% extends 'base.html.twig' %}

{% block body %}
    <section class="confidentiality-content">
        <h1>Politique de confidentialité</h1>
        <p>En utilisant Agora, vous nous confiez certaines de vos données personnelles.
            Ces informations sont collectées afin de vous offrir une meilleure expérience,
            de personnaliser nos services et d'assurer la sécurité de notre plateforme.
            Nous nous engageons à protéger vos données et à les utiliser de manière transparente.
        </p>
        <p>Conformément à la réglementation en vigueur,
            vous disposez de droits sur vos données (accès, rectification, effacement, etc.).
        </p>
    </section>
{% endblock %}