{% autoescape %}
    {% block chat %}

        <aside class="chat-window" data-controller="chat" data-action="turbolinks:before-cache@window->chat#animate"
               data-chat-target="aside">
            <div
                    data-action="click->chat#animate"
                    data-chat-target="open"
                    class="button-chat">
                <span class=" material-symbols-outlined">send</span>
            </div>
            <span data-action="click->chat#animate" data-chat-target="close"
                  class="close_chat material-symbols-outlined">
close
</span>
            <section id="messages">
                {% for message in salon.messages %}
                    <article class="bulle_chat box">
                        <p>{{ message.user.username }}</p>
                        <p>{{ message.content }}</p>
                        <p>{{ message.createdAt|date("H:m") }}</p>
                    </article>
                {% endfor %}
            </section>

            {{ form(messageForm, {'action': path('salon.chat', {id: salon.id}) }) }}


        </aside>
    {% endblock %}
{% endautoescape %}