<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Accueil{% endblock %}</title>
        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body>

    <nav>
        <ul>
            <li><a href="/">Accueil</a></li>
            <li><a href="/search">Recherche</a></li>
            <li><a href="/register">Inscription</a></li>
            <li><a href="/login">Connexion</a></li>
            <li><a href="/logout">Déconnexion</a></li>
        </ul>
    </nav>
    <div class="container">
        {% include 'partials/flash.html.twig' %}




        {% block body %}



        {% endblock %}



    </div>

    </body>
</html>
