{% extends 'base.html.twig' %}

{% block title %}Sujet{% endblock %}

{% block body %}
    <section class="box sujet-create">
        <h1>Créer un nouveau sujet</h1>
        {{ form(form) }}
    </section>




    {% block chat %}
        {{ include('chat/chat.html.twig') }}
    {% endblock %}


{% endblock %}
