{% extends 'base.html.twig' %}

{% block title %}Sujet{% endblock %}

{% block body %}

    <section class="box sujet-edit">

            {{ form(form, {action: path('sujet.edit', {id: sujet.id})}) }}

        <a class="btn" href="{{ path('salon.index', {id: salon.id}) }}">Retour</a>
    </section>


    {% block chat %}
        {{ include('chat/chat.html.twig') }}
    {% endblock %}


{% endblock %}
