{% extends 'base.html.twig' %}

{% block title %}Sujet{% endblock %}

{% block body %}

    <section class="box">

        <turbo-frame id="sujet_{{ sujet.id }}">
            {{ form(form, {action: path('sujet.edit', {id: sujet.id})}) }}

        </turbo-frame>

    </section>


    {% block chat %}
        {{ include('chat/chat.html.twig') }}
    {% endblock %}


{% endblock %}
