{% extends 'base.html.twig' %}

{% block title %}Sujet{% endblock %}

{% block body %}
    <h1>{{ sujet.title }}</h1>

    <turbo-frame id="sujet_{{ sujet.id }}">
        {{ form(form, {action: path('sujet.edit', {id: sujet.id})}) }}
    </turbo-frame>


    {% block chat %}
        {{ include('chat/chat.html.twig') }}
    {% endblock %}


{% endblock %}
