{% extends 'base.html.twig' %}

{% block title %}Sujet{% endblock %}

{% block body %}

     {% for proposal, vote in result %}
    <section class="box">

    {{ proposal.title }}
        {{ vote.notes }}


    </section>

    {%  endfor %}


    {% block chat %}
        {{ include('chat/chat.html.twig') }}
    {% endblock %}


{% endblock %}