{% extends 'base.html.twig' %}

{% block title %}Sujet{% endblock %}

{% block body %}

    <section class="box">

        {{ form(form, {action: path('sujet.vote', {id: sujet.id})}) }}


    </section>


    {% block chat %}
        {{ include('chat/chat.html.twig') }}
    {% endblock %}


{% endblock %}
