{% extends 'base.html.twig' %}

{% block body %}
    <section class="error">


        <h2>Une erreur s'est produite</h2>
        <p>

            <a href="{{ path('home') }}">retournez sur la page d'accueil</a>.
        </p>
    </section>

{% endblock %}