{% extends 'base.html.twig' %}

{% block body %}
    <section class="error403">
        <h1>403</h1>

        <h2>Accès refusé</h2>
        <p>
            Vous n'avez pas les droits pour accéder à cette page.
            <a href="{{ path('home') }}">Retour sur la page d'accueil</a>.
        </p>
    </section>

{% endblock %}